.right-fix {
    height: 800px;
    overflow-y: scroll;
    /* // overflow-y: hidden; */
    overflow-x: hidden;
}

.my-notes-title {
    font-size: 24px;
    font-weight: bold;
    /* // color: #333; */
    /* Your desired color */
}

.main_content_actionpoint .nav {
    display: flex;
    flex-wrap: wrap;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
    border-right: none;


   .active {
        /* // background-color: blue !important; */
        background-color: #0d6efd !important;
        border-radius: 5px;
        a {
            color: white !important;
        }
    }
}

#notes li {
    border-bottom: 1px solid #ccc;
    padding: 5px 0;
}

#notes li:last-child {
    border-bottom: none;
}


.copyIcon {
    background-color: #5784f5;
    width: 24px;
    /* // color: white; */
    text-align: center;
    border-radius: 3px;
    position: absolute;
    /* // top: 45px; */
    top: 51px;
    right: 25px;
    align-items: center;
    justify-content: center;
    margin-left: 2px;
}

.edit_Icon{
    /* // background: url(../Images/editpen.png) center/contain no-repeat; */
   
    background-repeat: no-repeat;
    margin-left: 5px;
    /* // background-color: #91a6c4;
    // background-color: #0d6efd;
    // display: flex !important; */
    border-radius: 22px;
}
.icon_ChatSend {
    /* // background: url(../Images/chatsend02.png) center/contain no-repeat;
    // width: 32px;
    // height: 32px; */
    background-repeat: no-repeat;
    /* // background-color: #91a6c4;
    // background-color: #0d6efd;
    // display: flex !important;
    border-radius: 22px;
    // color: hsl(0, 0%, 90%);
    // background-size: contain; */
}

.Icon_play {
    /* // background-color: rgb(40, 56, 228);
    // background-color: #0d6efd;
    // text-align: center;
    // height: 35px;
    // align-items: center;
    // display: flex !important; */
    border-radius: 22px;
    /* // color: white; */
}

.Icon_pause {
    /* // background-color: #9fc491;
    // background-color: #0d6efd; */
    text-align: center;
    background-repeat: no-repeat;
    /* // display: flex !important; */
    border-radius: 22px;

}

.Icon_save {
    /* // background-color: #9ef71a; */
    /* background-repeat: no-repeat; */
    /* // border-radius: 22px; */
    text-align: center;
    /* // display: flex !important; */
    border-radius: 22px;
}


.allbuttons {
    position: absolute;
    top: -6px;
    right: 6px;
    margin: 10px;

}

.sound {
    /* // background: url(../Images/sound1.png) center/contain no-repeat;
   
    // background-repeat: no-repeat;
    // background-color: #91a6c4;
    // background-color: #0d6efd;
    // display: flex !important; */
    cursor: pointer;
    border-radius: 22px;
    color: hsl(0, 0%, 90%);
}